.Nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    background-color: #0A0A0A;
    z-index: 9999;
    
}






.logo{
    
    color: white;
}
.nav-inner{
    
    
    height: 90vh;
    width: inherit;
    background-color: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.link{
    margin: 5px 0 5px 0;
}


.link > i{

    
    font-size: 1.4rem;
    color: grey;
}
.link:hover{

   background-color:#FFFFFF14;
    border-radius: .5rem;
}

.link:nth-child(3){
    
    
    margin: 10px 0 10px 0;
    border-radius: .5rem;
    background-color:#FFFFFF14;

}

@media (max-width:700px) {
    
    .Nav-bar{
        display: none;
    }


}