.Nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    background-color: #0A0A0A;
    /* z-index: 1; */
    
}






.logo{
    
    color: white;
}
.nav-inner{
    
    
    height: 90vh;
    width: inherit;
    background-color: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.link{
    margin: 5px 0 5px 0;
}


.link > i{

    
    font-size: 1.4rem;
    color: grey;
}
.link:hover{

   background-color:#FFFFFF14;
    border-radius: .5rem;
}

.link:nth-child(3){
    
    
    margin: 10px 0 10px 0;
    border-radius: .5rem;
    background-color:#FFFFFF14;

}

@media (max-width:825px) {
    
    .Nav-bar{
        display: none;
    }


}



.notification-btn {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -6px;
  right: -6px;

  min-width: 18px;
  height: 18px;
  padding: 0 5px;

  background-color: red;
  color: white;

  font-size: 11px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}