*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: system-ui, sans-serif;
  text-align: center;
  transition: background 0.2s ease, color 0.2s ease;
}


body.light-theme{
  background-color: #FAFAFA;
  color: #111;
}


body.dark-theme{
  background-color: #0A0A0A;
  color: white;
}

#root{
  min-height: 100vh;
}

.loader{
  border: white;
}

.notification-heading{
  color: #aaa;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 10px 8px;
}