
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
 background-color: #0A0A0A;
  color: #111;
  text-align: center;
}

#root {
  min-height: 100vh;
}